
* {
  box-sizing: border-box;

}

body {
 
  background: none;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#top, #bottom, #left, #right {
	background: black;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 25px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 25px;
		}
		#top { top: 0; }
    #bottom { bottom: 0; }
    

    

h1 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: black;
  font-size: 30px;
}

h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: black;
  font-size: 24px;
}


header {
  /* border-bottom: 1px solid #dddddd; */
  color: #333;
  background:white;
}

p {
  color: black;
}

/* header info */
#logo {
  color: black;
  padding: 35px 25px 20px 35px;
  float: left;
 

}

nav {
  text-align: center;
  text-decoration: none;
  width: 960px;
  margin: 0 auto;
  height: 75px;
  position: center;
 

}
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 12px;
    float: right;
    overflow: hidden;
    color: black;
    position: relative;
  top: 50%;
  transform: translateY(-50%);
    
  }
  
  li{
    display: inline;
    color: ;
    height: 100%;
  }
  
  li a {
    text-align: center;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
  }

  li a:hover {
    color: #777777;
  }

  .vline {
      border-right: 1px solid black;
      height: 50px;
  }
  

section {
  /* border: 1px solid black; */
  background: white;
  color: #333;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
line-height: 200%;
padding: 10px 25px 30px 25px;
  color: black;
  width: 960px;
  margin: 0 auto;
  margin-top: 25px;
  overflow: hidden; 
  }

hr {
  border: 0;
height: 2px;
background: black;

}

img {
  height: 150px;
  float: left;
}


.search-div {
  margin-top: 15px;
  
}

.button-div {
  margin-bottom: 20px;
  margin: auto;

}

.single {
  margin: 0 auto;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

#giphy-div {
  margin-top: 20px;
margin-left: 10px;
  position: relative;
     
}

#search-button {
  height: 34px;
  width: 52px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  background: white;
  border-radius: 0px;
  border: 4px solid black;
  border-width: 6px;
  /* padding: 5px 20px 5px 20px; */
    color: #000;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal;
  margin: 0 15px 10px 0;

  }

  button {
  height: 34px;
  width: 160px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  background: white;
  border-radius: 0px;
  border: 4px solid black;
  border-width: 6px;
  /* padding: 5px 20px 5px 20px; */
    color: #000;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal;
  margin: 0 15px 10px 0;
  }

  





 /* footer info */
footer {
  background: white;
  /* border-top: 2px solid black; */
  color: black;
  height: 55px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 7px 0 0 20px;
  
}







.centered {
  position: absolute;
  top: 75%;
  left: 44.5%;
  transform: translate(-50%, -50%);
  background: black;
  width: 200px;
  padding: 3px 0px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 13px;
}

a {
  color:black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #777777;
}

a:active {
  text-decoration: underline;
}







/* media queries   max width 980*/

@media only screen and (max-width: 980px) {
  body {
      /* background-color: lightblue; */
  }


 

/* #logo {
  padding: 20px 25px 20px 25px;
  height: 100%;
} */

nav {
  background: white;
  text-align: center;
  text-decoration: none;
  width: 100%;
  margin: 0 auto;
   margin: 0px 0px 0px 50px;
  height: 75px;
 
}
  
section {  
  width: 585px;
  margin: 0 auto;
  margin: 25px 0px 10px 50px;
  }

  ul {
    list-style-type: none;
    margin-left: 270px;
    padding: 0;
    float: left;
    color: black;
  }

/* portfolio page info */
.row{
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}
  

}



/* media queries   max width 768*/
@media only screen and (max-width: 800px) {
  body {
      /* background-color: red; */
  }

  

  nav {
    background: white;
    text-align: center;
    text-decoration: none;
    width: 550px;
    margin: 0 auto;
    height: 75px;
    position: center;
   
  
  }

  /* #logo {
    background: black;
    color: black;
    /* display: inline; */
    /* padding: 20px 25px 20px 25px;
    margin-left: 0px;
    float: left;
    height: 100%;
  } */ 


  section {
    background: white;
    /* border: 1px solid #dddddd; */
    color: #333;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 200%;
    color: black;
    width: 550px;
    position: absolute;
    left: 50%;
    margin-left: -275px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      float: right;
      overflow: hidden;
      color: #777777;
      position: relative;
    top: 50%;
    transform: translateY(-50%);
          }


          


}



@media only screen and (max-width: 640px) {
  body {
      /* background-color: black; */
  }


  section {
    background: white;
    /* border: 1px solid #dddddd; */
    color: #333;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 200%;
  /* padding: 10px 25px 30px 25px; */
    color: black;
    width: 100%;
    /* margin: 0 auto;
    margin: 25px 0px 0px 20px; */
    
    padding-bottom: 10px;
    
    } 

    
      
  
      #logo {
        background: pink;
        color: black;
        display: inline;
        padding: 0px 0px 0px 0px;
        text-align: center;
        width: 100%;
        overflow: auto;
        margin-left: 0px;
    float: left;
    height: 0px;

      
      }
      
      nav {
        background: white;
        text-align: center;
        text-decoration: none;
        width: 600px;
        margin: 0 auto;
        height: 75px;
        position: center;
        overflow: auto;
      }


.block {

  padding: 15px 37px 0px 0px;
  text-align: center;
  color: black;
 margin-left: -15px;
}

img {

  width: 300px;
}   

.centered {
  position: absolute;
  top: 75%;
  left: 44.5%;
  transform: translate(-50%, -50%);
  background: black;
  width: 300px;
  padding: 3px 0px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 13px;
}



header {

  padding-bottom: 10px;
  height: 90px;
  background: white;
}


nav {
  
  width: 100%;

  height: 80px;
  position: center;
  background: black;
  margin-bottom: 20px;
}


ul {
  list-style-type: none;
  background: white;
  overflow: hidden;
  color: #777777;
  float: left;
  padding-top: 11px;

  width: 100%;
  height: 60px;

}

#top, #bottom, #left, #right {
	background: none;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 18px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 18px;
		}
		#top { top: 0; }
    #bottom { bottom: 0; }

